.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    overflow: hidden;
    max-height: 100vh;
  }
  .container2 {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .container2 {
    /* background-color: red;    */
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 2%;
  }
  .screen {
    position: relative;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 24px #000;
  }
  .screen2 {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 24px #000;
  }
  
  .screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .screen__content2 {
    z-index: 1;
    position: relative;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 125px;
  }
  
  .screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  
  .screen__background__shape {
    /* transform: rotate(45deg); */
    position: absolute;
  }
  
  .screen__background__shape1 {
    height: 100%;
    width: 50%;
    right: 0px;
    display: flex;
    color: wheat;
    background: black;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 5px 2px 7px wheat;
    text-align: center;
    padding: 0px 10px;
  }
  .login {
    width: 320px;
    padding: 10px;
    padding-top: 40px;
  }
  .login2 {
    width: 320px;
    padding: 10px;
    padding-top: 40px;
  }
  .details {
    width: 100%;
    margin-top: 50px;
  }
  .login__field {
    padding: 10px 0px;
    position: relative;
  }
  
  .login__icon {
    position: absolute;
    top: 30px;
    color: #a5e3e68e;
  }
  .detail-course {
    width: 100%;
    height: 80px;
    display: flex;
    background: #f5f5f7;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .frame-div {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .login__input {
    border: none;
    border: 2px solid #000000;
    border-radius: 8px;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    font-size: large;
    transition: 0.2s;
  }
  .login__input2 {
    border: none;
    border: 2px solid #000000;
    border-radius: 8px;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    font-size: large;
    transition: 0.2s;
  }
  
  .signup {
    color: #000;
  }
  
  .login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
    box-shadow: 0px 2px 2px #908ac5;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
  }
  
  .login__submit:active,
  .login__submit:focus,
  .login__submit:hover {
    border-color: #a1d5d7;
    outline: none;
  }
  
  .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875b5;
  }
  
  .social-login {
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #96cad7;
  }
  
  .social-login__icon:hover {
    transform: scale(1.5);
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: "100%";
  }
  
  .inputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid gray 1px;
    width: 70%;
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 30px;
  }
  
  .signup {
    margin-top: 20px;
  }
  
  .btn {
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signupbtn {
    background-color: rgb(36, 190, 218);
    color: black;
    border-radius: 20px;
    border: none;
    width: 149px;
    height: 34px;
    font-weight: bold;
    margin-top: 20px;
  }
  .container2 {
    /* background-color: red;    */
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 2%;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
  .side-heading {
    font-weight: 600;
    color: white;
  }
  #lasticon {
    margin-top: 10px;
  }
  .searchbar {
    background-color: #f5f5f7;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
  }
  .inpt {
    border: none;
  }
  .search {
    height: 20px;
    width: 20px;
    align-self: center;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }
  .center2 {
    background-color: #d9d9d9;
    height: 75vh;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .mainscreen {
    width: 100%;
    margin-left: 90px;
  }
  .notification {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
  }
  .bellicon {
    width: 20px;
    height: 20px;
  }
  .annoucument {
    text-align: center;
    padding-top: 200px;
  }
  * {
    box-sizing: border-box;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
  .heading {
    color: white;
  }
  #lasticon {
    margin-top: 10px;
  }
  .searchbar {
    background-color: #f5f5f7;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
  }
  .inpt {
    border: none;
  }
  .notification {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
  }
  .bellicon {
    width: 30px;
    height: 30px;
  }
  .head-img {
    position: absolute;
    right: 50px;
    bottom: 0px;
  }
  .annoucument {
    text-align: center;
    padding-top: 200px;
  }
  .center {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    padding-left: 20px;
  }
  .student {
    width: 50%;
  }
  .teacher {
    width: 50%;
  }
  .btn {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .iconname {
    display: flex;
    gap: 10px;
    width: 30%;
    align-items: center;
  }
  .title {
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
  }
  .sidescreen {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    position: fixed;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
  .heading {
    color: white;
  }
  #lasticon {
    margin-top: 10px;
  }
  .leftsection {
    background-color: #f5f5f7;
    width: 50%;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center;
    height: 160px;
  }
  .searchbar {
    background-color: #f5f5f7;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
  }
  .inpt {
    border: none;
  }
  .center2 {
    background-color: #d9d9d9;
    height: 75vh;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .notification {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
  }
  .bellicon {
    width: 20px;
    height: 20px;
  }
  .rightsection {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 40%;
  }
  .annoucument {
    text-align: center;
    padding-top: 200px;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    display: flex;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
  .heading {
    color: white;
  }
  #lasticon {
    margin-top: 10px;
  }
  .searchbar {
    background-color: #f5f5f7;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
  }
  .inpt {
    border: none;
  }
  .inpt:focus-visible {
    outline: none;
  }
  .notification {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
  }
  .profileimg {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }
  .annoucument {
    text-align: center;
    padding-top: 200px;
  }
  .student {
    width: 50%;
  }
  .teacher {
    width: 50%;
  }
  .list {
    align-items: center;
    background-color: #f5f5f7;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 20px;
    border-radius: 15px;
  }
  .btn {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .iconname {
    display: flex;
    gap: 10px;
    width: 30%;
  }
  .title {
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
  }
  .iconimg {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-head {
    font-weight: 600;
  }
  .data-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .notification-modal > div > div {
    width: 900px;
  }
  .iconname-modal {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
  }
  .iconimg-modal {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .notification-modal > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
  }
  .modal-btn {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .login-btn {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
  .course {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    padding-top: 30px;
  }
  @media screen and (max-width: 1080px) {
    .header {
      flex-direction: column;
      gap: 20px;
      margin-left: 15px;
    }
    .leftsection {
      width: 100%;
    }
    .rightsection {
      width: 100%;
    }
    .center {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      align-self: center;
    }
    .student {
      width: 100%;
    }
    .teacher {
      width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    .screen__background__shape1 {
      display: none;
    }
    .screen__content {
      width: 100%;
    }
    .screen__content2 {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .modal-btn {
      width: 100%;
    }
    .modal-div {
      flex-direction: column;
      gap: 10px;
    }
    .header-head {
      font-size: 15px;
    }
    .header-text {
      font-size: 10px;
    }
    .leftsection {
      height: 90px;
    }
    .head-img {
      width: 100px;
    }
  }
  @media screen and (max-width: 1080px) {
    .center {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      align-self: center;
    }
    .student {
      width: 100%;
    }
    .teacher {
      width: 100%;
    }
  }
  